@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("/assets/fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("/assets/fonts/Unbounded-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

:root {
  --font-primary: "Unbounded";
  --font-secondary: "Mulish";
  --color-blue: #2673ff;
  --color-pink: #ff5959;
  --color-accent: #40e0d0;
  --color-grey: #9c9eb7;
  --color-lightgrey: #f7f7fa;
  --color-text: #1f1f1f;
}

.main {
  padding-block: 40px;
}

.container {
  padding-inline: 60px;
}

.breadcrumbs {
  display: flex;
  gap: 12px;
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-grey);
}

.breadcrumbs li a {
  transition: 0.3s ease;
}

@media (any-hover: hover) {
  .breadcrumbs li a:hover {
    color: var(--color-text);
  }
}

.breadcrumbs li:not(:last-of-type)::after {
  content: "/";
  margin-left: 12px;
}
